# .env configuration
.env

 main node file and folders
**/node_modules

# this is a file upload folder that should be ignored for any changes
src/api/uploads/file

coverage.*

**/.DS_Store
**/._*

# key
**/*.pem

# vscode
**/.vs
**/.vscode
**/.idea