# .env configuration (this file is prohibited to be committed to a git repository, these files in this repository is used just for educational purpose.)
# .env
# .prod.env

 main node file and folders
**/node_modules
**/package-lock.json

coverage.*

**/.DS_Store
**/._*

# key
**/*.pem

# vscode
**/.vs
**/.vscode
**/.idea